:root {
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --background-color: #ffffff;
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --sections-background: #f5f5f5;
  --borders-color: #e0e0e0;
  --card-bg-color: #ffffff;
  --sidebar-collapsed-width: 1rem;
  --footer-height: 60px;
}
/*  */
.dark-mode {
  --primary-color: #6200ee;
  --secondary-color: #018786;
  --background-color: #121212;
  --text-primary-color: #e0e0e0;
  --text-secondary-color: #b0b0b0;
  --sections-background: #1e1e1e;
  --borders-color: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  min-height: 100vh;
  transition: grid-template-columns 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
}

h1 {
  color: var(--text-primary-color);
}

p {
  color: var(--text-secondary-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
body.sidebar-collapsed {
  grid-template-columns: var(--sidebar-collapsed-width) 1fr;
}

header {
  grid-area: header;
  background-color: var(--sections-background);
  border: 2px solid var(--borders-color);
  color: var(--text-primary-color);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  z-index: auto;
}

.logo {
  margin: 3rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  transition: opacity 0.3s ease;
}

nav a:hover {
  opacity: 0.8;
}

.navbar {
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  color: var(--text-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 99%;
  background: linear-gradient(45deg, #2e3192, #1bffff);
  border-radius: 8px;
  transition: .5s ease;
}

.navbar-nav li {
  z-index: 1;
}

.navbar-nav li:nth-child(1):hover~span {
  left: 75px;
  width: 60px;
}

.navbar-nav li:nth-child(2):hover~span {
  left: 135px;
  width: 80px;
}

.navbar-nav li:nth-child(3):hover~span {
  left: 215px;
  width: 80px;
}

.navbar-nav li:nth-child(4):hover~span {
  left: 295px;
  width: 80px;
}

.btn-outline-success-changed {
  --bs-btn-color: rgb(63, 106, 224);
  --bs-btn-border-color: rgb(63, 106, 224);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(63, 106, 224);
  --bs-btn-hover-border-color: rgb(63, 106, 224);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(63, 106, 224);
  --bs-btn-active-border-color: rgb(63, 106, 224);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(63, 106, 224);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(63, 106, 224);
  --bs-gradient: none;
}

.navbar-expand-lg .container-fluid {
  margin-left: 1rem;
  border: none;
}

.container-fluid {
  width: 60%;
}

.show {
  background: var(--sections-background);
  transition: grid-template-columns 0.3s ease;
}

.navbar-expand-lg .show {
  padding: 2rem;
  border: 3px solid var(--borders-color);
}

.nav-link {
  color: var(--text-primary-color);
  font-size: 1rem;
  font-weight: bold;
}

.nav-link:hover {
  color: gray;
}

.nav-link:active {
  color: gray;
}

.nav-link.disabled {
  color: gray;
}

.offcanvas.show {
  padding: 1rem;
  border-radius: 1rem;
}

.navbar-toggler {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.navbar-toggler:hover {
  opacity: 0.75;
}

.dropdown-item {
  color: var(--text-primary-color);
}

.mode-switcher {
  position: fixed;
  top: 3.2rem;
  right: 3.5rem;
}

.theme-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

/* offcanvas */
.offcanvasButton {
  position: fixed;
  z-index: 2;
  margin-top: 8rem;
  margin-left: 4rem;
}

.offcanvas.offcanvas-start {
  width: 15rem;
}
.offcanvas {
  align-items: start;
}

.offcanvas-body a {
  font-size: large;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--text-primary-color);
  background-color: transparent;
  border: none;
}

/* main */
main {
  grid-area: main;
  padding: 0;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

body.sidebar-collapsed main {
  min-width: 90vw;
}

/* hero */

.hero {
  background-image: url("images/main-img_1800-900.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 1rem;
  min-height: 450px;
  text-align: center;
  padding: 3rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-principal {
  padding: 2rem;
  padding-top: 5rem;
}

.hero-imagen {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  color: var(--text-secondary-color);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  color: var(--text-primary-color);
  margin-bottom: 1rem;
}

.cta-button {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #27ae60;
}

/* carouseL */
.carousel-inner {
  width: 100vw;
}

/* sobre mi */

.sobre-mi {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

.seccion-titulo {
  color: var(--text-primary-color);
  font-size: 2rem;
  padding: 15px 0;
}

.seccion-texto {
  color: var(--text-secondary-color);
  font-size: 1.2rem;
}

/* values */
.cards-container {
  justify-content: center;
  margin: 1rem;
  margin-top: 5rem;
  text-align: center;
}
.card {
  background-color: var(--sections-background);
  margin: 10px;
  padding: 15px;
}
.card-img-top {
  border-radius: 10px;
}
#values {
  padding-top: 3rem;
  margin: 1rem;
}

/* services */

.services {
  margin-top: 5rem;
  padding: 1rem;
  padding-top: 5rem;
}

.servicesH1 {
  margin: 3rem;
}

.services .columna {
  padding: 20px;
  border: 2px solid var(--borders-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.services .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.services i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.services-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* revisar */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: 10rem;
  background: linear-gradient(155deg, rgb(13, 110, 253), #00fffc);
  /* background-color: rgb(13, 110, 253); */
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
  transform: scale(1.2) translateY(5px);
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
  grid-area: footer;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

/*  */
.iconos-redes-sociales {
  position: relative;
  background: linear-gradient(155deg, #00fffc, #eee);
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px rgb(13, 110, 253);
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: black;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: black;
  border: 2px solid rgb(13, 110, 253);
  transform: translateY(-5px);
}

.iconos-redes-sociales a:hover i {
  color: white;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* @media */
/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: var(--header-height);
  }

  .navbar-expand-lg .show {
    border: none;
  }

  .offcanvas.show {
    border: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    margin: 0rem;
    padding: 0rem;
    border-radius: 0;
    height: 5rem;
    z-index: auto;
  }

  .logo {
    margin: 1rem;
    padding-right: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .mode-switcher {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
  }

  .offcanvasButton {
    position: fixed;
    z-index: 2;
    margin-top: 1.5rem;
    margin-left: 5rem;
  }

  main {
    margin-top: 6rem;
    padding: 0;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-collapsed main {
    margin-left: 4rem;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}
